<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Mise a jour des resultats d'une équipe</h4>
                      <p class="card-category">Renseignez les resultats de match de l'equipe</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="teamForm">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Team Kills" type="number" [value]="teamKills" disabled="true">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Match Position" type="number" formControlName="teamPos">
                                </mat-form-field>
                              </div>
                          </div>
                              <label class="mb-0 mt-2">Players Kill</label>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [placeholder]="teamP1" type="number" formControlName="p1Kills">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [placeholder]="teamP2" type="number" formControlName="p2Kills">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [placeholder]="teamP3" type="number" formControlName="p3Kills">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [placeholder]="teamP4" type="number" formControlName="p4Kills">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [placeholder]="teamS1" type="number" formControlName="s1Kills">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput [placeholder]="teamS2" type="number" formControlName="s2Kills">
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit"
                                  class="btn btn-danger pull-right"
                                  [disabled]="!teamForm.valid"
                                  (click)="updateTeam()"
                          >
                              Enregistrer
                          </button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4" *ngIf="team">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" [src]="team.logo ? team.logo : 'assets/img/AfroGamingHub.png'"/>
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">{{team.name}}</h6>
                      <h4 class="card-title">Team Tag: {{team.tag}}</h4>
                      <h4 class="card-title">Team Region: {{team.region}}</h4>
<!--                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>-->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
