<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <img src="assets/img/AfroGamingHub.png" alt="team logo" style="width: 50px; height: 50px;">
                      </div>
                      <p class="card-category">Edition</p>
                      <h2 class="card-title">
                          <small>S01</small>
                      </h2>
                  </div>
<!--                  <div class="card-footer">-->
<!--                      <div class="stats">-->
<!--                          <i class="material-icons text-danger">warning</i>-->
<!--                          <a href="javascript:void(0)">Get More Space...</a>-->
<!--                      </div>-->
<!--                  </div>-->
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Teams</p>
                      <h2 class="card-title">{{teams.length}}</h2>
                  </div>
<!--                  <div class="card-footer">-->
<!--                      <div class="stats">-->
<!--                          <i class="material-icons">date_range</i> Last 24 Hours-->
<!--                      </div>-->
<!--                  </div>-->
              </div>
          </div>
<!--          <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--              <div class="card card-stats">-->
<!--                  <div class="card-header card-header-danger card-header-icon">-->
<!--                      <div class="card-icon">-->
<!--                          <i class="material-icons">info_outline</i>-->
<!--                      </div>-->
<!--                      <p class="card-category">Day</p>-->
<!--                      <h1 class="card-title">1</h1>-->
<!--                  </div>-->
<!--&lt;!&ndash;                  <div class="card-footer">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="stats">&ndash;&gt;-->
<!--&lt;!&ndash;                          <i class="material-icons">local_offer</i> Tracked from Github&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--              </div>-->
<!--          </div>-->
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-bolt"></i>
                      </div>
                      <p class="card-category">Top Fragger</p>
                      <p class="card-category">{{playerTopFragger.kills}}</p>
                      <h2 class="card-title">
                          {{playerTopFragger.name ? playerTopFragger.name : 'No Top Fragger Yet'}}
                      </h2>
                  </div>
<!--                  <div class="card-footer">-->
<!--                      <div class="stats">-->
<!--                          <i class="material-icons">update</i> Just Updated-->
<!--                      </div>-->
<!--                  </div>-->
              </div>
          </div>
      </div>
<!--      <div class="row">-->
<!--          <div class="col-md-4">-->
<!--              <div class="card card-chart">-->
<!--                  <div class="card-header card-header-success">-->
<!--                      <div class="ct-chart" id="dailySalesChart"></div>-->
<!--                  </div>-->
<!--                  <div class="card-body">-->
<!--                      <h4 class="card-title">Daily Sales</h4>-->
<!--                      <p class="card-category">-->
<!--                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>-->
<!--                  </div>-->
<!--                  <div class="card-footer">-->
<!--                      <div class="stats">-->
<!--                          <i class="material-icons">access_time</i> updated 4 minutes ago-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
<!--          <div class="col-md-4">-->
<!--              <div class="card card-chart">-->
<!--                  <div class="card-header card-header-warning">-->
<!--                      <div class="ct-chart" id="websiteViewsChart"></div>-->
<!--                  </div>-->
<!--                  <div class="card-body">-->
<!--                      <h4 class="card-title">Email Subscriptions</h4>-->
<!--                      <p class="card-category">Last Campaign Performance</p>-->
<!--                  </div>-->
<!--                  <div class="card-footer">-->
<!--                      <div class="stats">-->
<!--                          <i class="material-icons">access_time</i> campaign sent 2 days ago-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
<!--          <div class="col-md-4">-->
<!--              <div class="card card-chart">-->
<!--                  <div class="card-header card-header-danger">-->
<!--                      <div class="ct-chart" id="completedTasksChart"></div>-->
<!--                  </div>-->
<!--                  <div class="card-body">-->
<!--                      <h4 class="card-title">Completed Tasks</h4>-->
<!--                      <p class="card-category">Last Campaign Performance</p>-->
<!--                  </div>-->
<!--                  <div class="card-footer">-->
<!--                      <div class="stats">-->
<!--                          <i class="material-icons">access_time</i> campaign sent 2 days ago-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Groupes Stage Stats</h4>
                      <p class="card-category">Teams performance on the groupes stage of the Africa Champions League</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-danger">
                          <th>LOGO</th>
                          <th>TEAM NAME</th>
                          <th>P1</th>
                          <th>P2</th>
                          <th>P3</th>
                          <th>P4</th>
                          <th>P5</th>
                          <th>P6</th>
                          <th>WWCD</th>
                          <th>POS.P.</th>
                          <th>KILLS</th>
                          <th>TOTAL</th>
                          </thead>
                          <tbody>
                          <tr *ngFor="let team of teams; let i = index" [class.bg-danger]="i > 15">
                              <td>
                                  <img src="{{team.logo}}" alt="logo" style="width: 50px; height: 50px; border-radius: 50% ; border: 1px solid #000">
                              </td>
                              <td>{{team.name}}</td>
                              <td>{{team.players[0].kill}}</td>
                              <td>{{team.players[1].kill}}</td>
                              <td>{{team.players[2].kill}}</td>
                              <td>{{team.players[3].kill}}</td>
                              <td>{{team.players[4].kill}}</td>
                              <td>{{team.players[5].kill}}</td>
                              <td>{{team.wwcd}}</td>
                              <td>{{team.pp}}</td>
                              <td>{{team.kills}}</td>
                              <td>{{team.total}}</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
