<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <img src="assets/img/AfroGamingHub.png" alt="team logo" style="width: 50px; height: 50px;">
                      </div>
                      <p class="card-category">Edition</p>
                      <h2 class="card-title">
                          <small>S01</small>
                      </h2>
                  </div>
<!--                  <div class="card-footer">-->
<!--                      <div class="stats">-->
<!--                          <i class="material-icons text-danger">warning</i>-->
<!--                          <a href="javascript:void(0)">Get More Space...</a>-->
<!--                      </div>-->
<!--                  </div>-->
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Teams</p>
                      <h2 class="card-title" *ngIf="teams">{{teams.length}}</h2>
                  </div>
<!--                  <div class="card-footer">-->
<!--                      <div class="stats">-->
<!--                          <i class="material-icons">date_range</i> Last 24 Hours-->
<!--                      </div>-->
<!--                  </div>-->
              </div>
          </div>
<!--          <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--              <div class="card card-stats">-->
<!--                  <div class="card-header card-header-danger card-header-icon">-->
<!--                      <div class="card-icon">-->
<!--                          <i class="material-icons">info_outline</i>-->
<!--                      </div>-->
<!--                      <p class="card-category">Day</p>-->
<!--                      <h1 class="card-title">1</h1>-->
<!--                  </div>-->
<!--&lt;!&ndash;                  <div class="card-footer">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="stats">&ndash;&gt;-->
<!--&lt;!&ndash;                          <i class="material-icons">local_offer</i> Tracked from Github&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--              </div>-->
<!--          </div>-->
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-bolt"></i>
                      </div>
                      <p class="card-category">Top Fragger (<span *ngIf="playerTopFragger">{{playerTopFragger.kill}}</span> Kill(s))</p>
                      <p class="card-category">
                      <h2 class="card-title" *ngIf="playerTopFragger">
                          {{playerTopFragger.name ? playerTopFragger.name : 'No Top Fragger Yet'}}
                      </h2>
                  </div>
<!--                  <div class="card-footer">-->
<!--                      <div class="stats">-->
<!--                          <i class="material-icons">update</i> Just Updated-->
<!--                      </div>-->
<!--                  </div>-->
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Groupes Stage Stats</h4>
                      <div class="card-category">
                          P1 => Player 1 (that is individual player kills),
                          <div class="row bg-white rounded" style="justify-content: space-between ; margin: 13px; padding-right: 1rem; padding-top: 0.5rem;">
                              <span class="show-player" (click)="isShowPlayerName = !isShowPlayerName">
                                Click here for Show player name
                              </span>
                              <mat-form-field>
                                  <mat-label>Days</mat-label>
                                  <mat-select [(value)]="day" (selectionChange)="getDayData($event)">
                                      <mat-option [value]="day.value" *ngFor="let day of formDays">{{day.viewValue}}</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                      </div>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-danger">
                          <th>LOGO</th>
                          <th>#</th>
                          <th>TEAM NAME</th>
                          <th>P1</th>
                          <th>P2</th>
                          <th>P3</th>
                          <th>P4</th>
                          <th>P5</th>
                          <th>P6</th>
                          <th>WWCD</th>
                          <th>POS.P.</th>
                          <th>KILLS</th>
                          <th>TOTAL</th>
                          </thead>
                          <tbody>
                          <tr *ngFor="let team of teams; let i = index" [class.bg-danger]="i > 15">
                              <td>
                                  <img src="{{team.logo}}" alt="logo" style="width: 50px; height: 50px; border-radius: 50% ; border: 1px solid #000">
                              </td>
                              <td>{{i + 1}}</td>
                              <td>{{team.name}}</td>
                              <td *ngIf="isShowPlayerName" class="no-wrap">{{team.players[0].name}} : <span class="text-danger">{{team.players[0].kill}}</span></td>
                              <td *ngIf="isShowPlayerName" class="no-wrap">{{team.players[1].name}} : <span class="text-danger">{{team.players[1].kill}}</span></td>
                              <td *ngIf="isShowPlayerName" class="no-wrap">{{team.players[2].name}} : <span class="text-danger">{{team.players[2].kill}}</span></td>
                              <td *ngIf="isShowPlayerName" class="no-wrap">{{team.players[3].name}} : <span class="text-danger">{{team.players[3].kill}}</span></td>
                              <td *ngIf="isShowPlayerName" class="no-wrap">{{team.players[4]?.name}} : <span class="text-danger">{{team.players[4]?.kill}}</span></td>
                              <td *ngIf="isShowPlayerName" class="no-wrap">{{team.players[5]?.name}} : <span class="text-danger">{{team.players[5]?.kill}}</span></td>
                              <td *ngIf="!isShowPlayerName">{{team.players[0].kill}}</td>
                              <td *ngIf="!isShowPlayerName">{{team.players[1].kill}}</td>
                              <td *ngIf="!isShowPlayerName">{{team.players[2].kill}}</td>
                              <td *ngIf="!isShowPlayerName">{{team.players[3].kill}}</td>
                              <td *ngIf="!isShowPlayerName">{{team.players[4]?.kill}}</td>
                              <td *ngIf="!isShowPlayerName">{{team.players[5]?.kill}}</td>
                              <td>{{team.wwcd}}</td>
                              <td>{{team.pp}}</td>
                              <td>{{team.kills}}</td>
                              <td>{{team.total}}</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
