<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <div>
                          <h4 class="card-title ">Team Registered</h4>
                          <p class="card-category">S01</p>
                      </div>
                      <div>
                          <button class="btn btn-primary" (click)="isShowPlayer = !isShowPlayer">
                              <i>afficher les joueurs</i>
                          </button>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Logo
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Tag
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th *ngIf="isShowPlayer">
                                      Players 1
                                  </th>
                                  <th *ngIf="isShowPlayer">
                                      Players 2
                                  </th>
                                  <th *ngIf="isShowPlayer">
                                      Players 3
                                  </th>
                                  <th *ngIf="isShowPlayer">
                                      Players 4
                                  </th>
                                  <th *ngIf="isShowPlayer">
                                      Players 5
                                  </th>
                                  <th  *ngIf="isShowPlayer">
                                      Players 6
                                  </th>
                              <th>
<!--                                  Action-->
                              </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let team of teams ; let i = index">
                                      <td>
<!--                                            add logo avatar -->
                                          <img src="{{team.logo}}" alt="logo" style="width: 50px; height: 50px; border-radius: 50% ; border: 1px solid #000">
                                      </td>
                                      <td>
                                            {{team.name}}
                                      </td>
                                      <td>
                                            {{team.tag}}
                                      </td>
                                      <td>
                                            {{team.region}}
                                      </td>
                                      <td class="text-primary"  *ngIf="isShowPlayer">
                                          {{team.p1}}
                                      </td>
                                        <td class="text-primary"  *ngIf="isShowPlayer">
                                            {{team.p2}}
                                        </td>
                                        <td class="text-primary"  *ngIf="isShowPlayer">
                                            {{team.p3}}
                                        </td>
                                        <td class="text-primary"  *ngIf="isShowPlayer">
                                            {{team.p4}}
                                        </td>
                                        <td class="text-primary"  *ngIf="isShowPlayer">
                                            {{team.p5}}
                                        </td>
                                        <td class="text-primary"  *ngIf="isShowPlayer">
                                            {{team.p6}}
                                        </td>
                                        <td>
<!--                                            <button class="btn btn-primary" (click)="editTeam(team)">-->
<!--                                                <i class="material-icons">edit</i>-->
<!--                                            </button>-->
                                            <button class="btn btn-danger" (click)="deleteTeam(team)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
