<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ajouter une équipe</h4>
                      <p class="card-category">Renseignez les info de la team</p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="teamForm">
                          <div class="row">
                              <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Team Name" type="text" formControlName="teamName">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Team Tag" type="text" formControlName="teamTag">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Team Region" type="text" formControlName="teamRegion">
                                </mat-form-field>
                              </div>
                          </div>
                              <label class="mb-0 mt-2">Players Name</label>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="P1" type="text" formControlName="teamP1">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="P2" type="text" formControlName="teamP2">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="P3" type="text" formControlName="teamP3">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="P4" type="text" formControlName="teamP4">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="S1" type="text" formControlName="teamS1">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="S2" type="text" formControlName="teamS2">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <label class="mb-0 mt-2">Team Logo</label>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder="URL Team LOGO" formControlName="teamLogo"
                                    ></textarea>
                                </mat-form-field>
                              </div>
                          </div>
                          <button mat-raised-button type="submit"
                                  class="btn btn-danger pull-right"
                                  [disabled]="!teamForm.valid"
                                  (click)="onSubmit()"
                          >Ajouter</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
<!--          <div class="col-md-4">-->
<!--              <div class="card card-profile">-->
<!--                  <div class="card-avatar">-->
<!--                      <a href="javascript:void(0)">-->
<!--                          <img class="img" src="./assets/img/faces/marc.jpg" />-->
<!--                      </a>-->
<!--                  </div>-->
<!--                  <div class="card-body">-->
<!--                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
<!--                      <h4 class="card-title">Alec Thompson</h4>-->
<!--                      <p class="card-description">-->
<!--                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
<!--                      </p>-->
<!--                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
      </div>
  </div>
</div>
